Source: newlib
Section: devel
Priority: extra
Maintainer: Arthur Loiret <aloiret@debian.org>
Build-Depends: debhelper (>= 6), quilt (>= 0.40), texinfo, binutils-spu [powerpc ppc64], gcc-spu [powerpc ppc64], lzma
Build-Depends-Indep: gcc-m68hc1x
Standards-Version: 3.9.1

Package: libnewlib0
Section: libs
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: newlib C library (runtime)
 Newlib is a C library intended for use on embedded systems. It is a
 conglomeration of several library parts, all under free software
 licenses that make them easily usable on embedded products.
 .
 This package contains the newlib runtime library.

Package: libnewlib-dev
Section: libdevel
Architecture: amd64 armel i386 ia64 powerpc sparc
Depends: libnewlib0 (= ${binary:Version}) [i386], ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnewlib0 (<< 1.18.0-5) [!i386]
Replaces: libnewlib0 (<< 1.18.0-5) [!i386]
Description: newlib C library (devel)
 Newlib is a C library intended for use on embedded systems. It is a
 conglomeration of several library parts, all under free software
 licenses that make them easily usable on embedded products.
 .
 This package contains the newlib headers and static library.

Package: newlib-spu
Architecture: powerpc ppc64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gcc-spu
Provides: spu-newlib
Conflicts: spu-newlib
Replaces: spu-newlib
Description: newlib C library (Cell/BE SPU)
 Newlib is a C library intended for use on embedded systems. It is a
 conglomeration of several library parts, all under free software
 licenses that make them easily usable on embedded products.
 .
 This package contains the newlib library compiled for spu targets.

Package: newlib-m68hc1x
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gcc-m68hc1x
Description: newlib C library (Motorola 68HC11/12)
 Newlib is a C library intended for use on embedded systems. It is a
 conglomeration of several library parts, all under free software
 licenses that make them easily usable on embedded products.
 .
 This package contains the newlib library compiled for m68hc11/12 targets.

Package: newlib-source
Architecture: all
Recommends: tar (>= 1.16), lzma
Depends: ${misc:Depends}
Description: newlib C library (source)
 Newlib is a C library intended for use on embedded systems. It is a
 conglomeration of several library parts, all under free software
 licenses that make them easily usable on embedded products.
 .
 This package contains the newlib library source tarball.

